{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "src": "./dist",
        "@": "./dist"
      }
    }],
    "@babel/plugin-transform-runtime"
  ]
}
